name: Daily VALD Data Pull

permissions:
  contents: write

on:
  schedule:
    - cron: "0 19 * * *"   # 11am PST
  workflow_dispatch:

jobs:
  run-vald:
    runs-on: ubuntu-22.04

    env:
      R_BUILD_VIGNETTES: false
      R_CHECK_BUILD_VIGNETTES: false

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.4.0'

      - name: Configure R for fast binary installs
        run: |
          echo 'options(
            repos = c(CRAN = "https://packagemanager.posit.co/cran/__linux__/jammy/latest"),
            Ncpus = parallel::detectCores()
          )' >> ~/.Rprofile

      - name: Install R packages (cached, binary)
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache: true
          packages: |
            lubridate
            readr
            valdr
            dplyr
            tidyr
            purrr
            shiny
            DT
            stringr
            ggplot2
            ggrepel
            plotly
            SBGSports/catapultr

      - name: Run VALD data pull
        env:
          VALD_CLIENT_ID: ${{ secrets.VALD_CLIENT_ID }}
          VALD_CLIENT_SECRET: ${{ secrets.VALD_CLIENT_SECRET }}
          VALD_TENANT_ID: ${{ secrets.VALD_TENANT_ID }}
          VALD_REGION: ${{ secrets.VALD_REGION }}
        run: Rscript scripts/vald_import.R

      - name: Run Catapult data pull
        env:
          CATAPULT_API_TOKEN: ${{ secrets.CATAPULT_API_TOKEN }}
        run: Rscript scripts/catapult_import.R

      - name: Convert CSVs to RDS
        run: Rscript scripts/csv_to_rds.R

      - name: Commit updated data
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add data/*.csv data/*.rds
          git commit -m "Daily VALD & Catapult data update" || echo "No changes"
          git push
